{% extends "WebDealerBundle::template.html.twig" %}

{#{% block title %} {{ article.title }} {% endblock %}#}

{% block sidebar %}{% endblock %}

{% block content %}
<div id="content" class="col-sm-12">

    {#{% if article %}#}
    {#<div class="col-sm-12 news-box">#}
        {#<div class="row">#}
            {#<h4 class="news-title">{{ article.title }}</h4>#}
            {#<div class="col-sm-12 news-description bg-info">#}
                {#{{ article.full_text|raw }}#}
            {#</div>#}
            {#<div class="news-info col-sm-12">#}
                {#<p class="pull-right" style="margin: 0 10px"><i class="fa fa-calendar"></i> <b>Добавлено: </b><i>{{ article.date }}</i></p>#}
                {#<p class="pull-right" style="margin: 0 10px"><i class="fa fa-folder-o"></i> <b>Категория: </b><a href="{{ url.generate('newsCategory', {id:article.category_id}) }}"><i>{{ article.category_name }}</i></a></p>#}
                {#<p class="pull-right" style="margin: 0 10px"><i class="fa fa-user"></i> <b>Автор: </b><i>{{ article.email }}</i></p>#}
                {#<div class="clear"></div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% endif %}#}

</div>
{% endblock %}